<form action='/signup' method='post'>
    <h3> Register below! </h3>
    <p>
        <label> Email: <label> 
        <input type='text' name='email' id='email'>
    </p>
    <p>
        <label> Username: </label>
        <input type='text' name='username' id='username'> 
    </p>
    <p>
        <label> Password: </label> 
        <input type='password' name='password' id='password'>
    </p>
    <input type='submit' value='Submit'> <br>
</form>